---
const user = Astro.locals.user;
console.log(user);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    {
      user ? (
        <form action="/api/signout" method="post">
          <button type="submit">Sign Out</button>
        </form>
      ) : (
        <a href="/signin">Sign In</a>
		<div>or</div>
		<a href="/api/github">Sign In with Github</a>
      )
    }
  </body>
</html>
